{% extends "base.html" %}




{% block content %}
<main class=" main main--about">
    <p>
        Hi I'm a python developer, I am deeply immersed in the ever-evolving world of technology and coding.
        I enjoy tackling complex problems, creating elegant solutions, and bringing ideas to life through clean,
        efficient code. My passion extends beyond just Python; I'm constantly exploring new programming languages, frameworks,
        and emerging tech trends, always eager to expand my toolkit and enhance my ability to build innovative applications.
        This enthusiasm for continuous learning is a core part of my work as a developer.
    </p>
    <p>
        Complementing my technical pursuits, I also dedicate my time as an English teacher and am currently a student majoring in Applied Linguistics.
        As a teacher, I strive to empower students with effective communication skills, while my studies in Applied Linguistics provide a deeper theoretical understanding of language acquisition,
        structure, and use. This academic journey enriches my teaching methods and fuels my appreciation for the nuances of human interaction.
    </p>
    <p>
        I believe these seemingly distinct fields offer a valuable synergy.
        The analytical skills cultivated in software development enhance my approach to linguistic analysis,
        while my experience in education and communication refines my ability to articulate complex ideas and collaborate effectively within technical teams.
        Ultimately, I am motivated by a strong intellectual curiosity and a dedication to mastering new skills across these interconnected domains.
    </p>
</main>
{% endblock %}