{% extends "base.html" %}


{% block content %}
<main class="main--contact">
<dl>
    <div class="contact">
        <dt>Email:</dt>
        <dd class="contact__details">
            <a href="mailto:vahidsdri@gmail.com" class="contact__link">
                vahidsdri@gmail.com
            </a>
        </dd>
    </div>
        <div class="contact">
        <dt>Github:</dt>
        <dd class="contact__details">
            <a href="https://github.com/vahidsdri" class="contact__link">
                @vahidsdri
            </a>
        </dd>
    </div>
</dl>
</main>
{% endblock %}